﻿@using System.Web.UI.HtmlControls
@using ProjectManagement.Models
@model ProjectManagement.Models.Project

@{
    ViewBag.Title = "Create";
}

<h2>Новый проект</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr/>
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new {@class = "control-label col-sm-2"})
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.Name, new {@class = "form-control input-sm"})
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="col-sm-12">
            <div class="row">

                <div class="form-group">
                    @Html.LabelFor(model => model.CustomerCompanyName, new {@class = "control-label col-sm-2"})
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.CustomerCompanyName, new {@class = "form-control input-sm"})
                        @Html.ValidationMessageFor(model => model.CustomerCompanyName)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ContractorCompanyName, new {@class = "control-label col-sm-2"})
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.ContractorCompanyName, new {@class = "form-control input-sm"})
                        @Html.ValidationMessageFor(model => model.ContractorCompanyName)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(model => model.EmployeeId, "Сотрудник", new {@class = "control-label col-sm-2"})
                    <div class="col-sm-4">
                        @Html.DropDownListFor(model => model.EmployeeId, (IEnumerable<SelectListItem>)ViewBag.EmployeeId,  "Выберите сотрудника ...", new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.EmployeeId)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ProjectManagerId, "Руководитель", new {@class = "control-label col-sm-2"})
                    <div class="col-sm-4">
                        @Html.DropDownListFor(model => model.ProjectManagerId, (IEnumerable<SelectListItem>)ViewBag.ProjectManagerId, "Выберите руководителя ..." , new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.ProjectManagerId)
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-12">
            <div class="row">

                <div class="form-group">
                    @Html.LabelFor(model => model.StartDate, new {@class = "control-label col-sm-2"})
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.StartDate, new {@class = "form-control input-sm", @type = "date"})
                        @Html.ValidationMessageFor(model => model.StartDate)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EndDate, new {@class = "control-label col-sm-2"})
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.EndDate, new {@class = "form-control input-sm", @type = "date"})
                        @Html.ValidationMessageFor(model => model.EndDate)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(model => model.Priority, new {@class = "control-label col-sm-2"})
                    <div class="col-sm-4">
                        @Html.DropDownList("Priority", EnumHelper.GetSelectList(typeof (Priority)), "Выберите приоритет ...", new {@class = "form-control input-sm"})
                        @Html.ValidationMessageFor(model => model.Priority)
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-12">
            <div class="row">


                <div class="form-group">
                    @Html.LabelFor(model => model.Description, new {@class = "control-label col-sm-2"})
                    <div class="col-sm-4">
                        @Html.TextAreaFor(model => model.Description, new {@class = "form-control input-sm"})
                        @Html.ValidationMessageFor(model => model.Description)
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <table>
                    <tr>
                        @{
                            int cnt = 0;
                            List<ProjectManagement.ViewModels.AssignedContractorData> contractors = ViewBag.Contractors;

                            foreach (var contractor in contractors)
                            {
                                if (cnt++ % 3 == 0)
                                {
                                    @:</tr><tr>
                                }
                                @:<td>
                                    <input type="checkbox"
                                        name="selectedContractors"
                                        value="@contractor.EmployeeId"
                                        @(Html.Raw(contractor.Assigned ? "checked=\"checked\"" : "")) />
                                        @contractor.EmployeeId @:  @contractor.Title
                                @:</td>
                            }
                            @:</tr>
                        }
                </table>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-sm-6">
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-2.2.0.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
