﻿@model ProjectManagement.Models.Project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectManager.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectManager.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerCompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerCompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContractorCompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContractorCompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
