﻿@using ProjectManagement.Models
@model IEnumerable<ProjectManagement.Models.Project>

@{
    ViewBag.Title = "Index";
}

<div>

    <p class="pull-right">
        <a href='@Url.Action("Create", "Projects")'><span class="glyphicon glyphicon-plus"></span></a>
    </p>
    <h2>Список проектов</h2>

</div>

<div class="panel panel-default">
    @(Html
          .Grid(Model)
          .Build(columns =>
          {
              columns.Add(model => model.Name).Titled("Название");
              columns.Add(model => model.CustomerCompanyName).Titled("Заказчик");
              columns.Add(model => model.ContractorCompanyName).Titled("Исполнитель");
              columns.Add(model => model.Priority).Titled("Приоритет").RenderedAs(model=> (Priority)model.Priority);
              columns.Add(model => model.StartDate).Titled("Дата начала").Formatted("{0: dd.MM.yyyy}");
              columns.Add(model => model.EndDate).Titled("Дата конца").Formatted("{0: dd.MM.yyyy}");
              columns.Add(model => model.Id).Titled("")
                  .RenderedAs(model => String.Format("<a href='{0}'><span class='glyphicon glyphicon-edit'></span></a>", 
                  @Url.Action("Edit", "Projects", new { Id = model.Id}))).Filterable(false).Sortable(false).Encoded(false);
              columns.Add(model => model.Id).Titled("").RenderedAs(model => String.Format("<a href='{0}'><span class='glyphicon glyphicon-eye-open'></span></a>", 
                  @Url.Action("Details", "Projects", new { Id = model.Id}))).Filterable(false).Sortable(false).Encoded(false);
          })
          .Filterable()
          .Sortable()
          .Empty("Нету данных"))
</div>

